<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to main branch </p>
    <p>Welcome to main branch one</p>
    <p>Welcome to anoop-two branch</p>
    <p>Welcome to anoop-two branch one</p>
    
  </body>
</html>
