<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to anoop-two branch</p>
    <p>Welcome to anoop-two branch 1</p>
    <p>Welcome to anoop-two branch 2</p>
    <p>Welcome to anoop-two branch 3</p>
    <p>Welcome to anoop-two branch 4</p>
  </body>
</html>
