<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>Remote change 2</p>
     <p>Local change 1</p>
     <p>Local change 2</p>
     <p>Local change 3</p>
     <p>Remote change 3</p>
     <p>Remote change 4</p>
     <p>Remote stash 1</p>
     <p>Remote stash 2</p>
     <p>Remote stash 3</p>
     <p>Remote stash 4</p>
  </body>
</html>
