<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to main branch 4 </p>
    <p>Welcome to main branch 5 </p>
    <p>Welcome to main branch 6 </p>
    <p>Welcome to main branch 1 </p>
    <p>Welcome to main branch 2 </p>
    <p>Welcome to main branch 3 </p>
    <p>Welcome to main branch 7 </p>
  </body>
</html>
