<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to branch anoop-one </p>
    <p>Welcome to branch anoop-one 1 </p>
    </body>
</html>
