<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>Main Branch</p>
     <p>Main Branch 2</p>
     <p>Main Branch 1</p>
     <p>Main Branch 3</p>
     <p>Main Branch 4</p>
  </body>
</html>
