<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>1st commit on 4/6/2022 from main branch</p>
     <p>2nd commit on 4/6/2022 from main branch</p>
  </body>
</html>
